.mensaje {width: 100%;}

.btnchat{
width: 100%;}

.contenido {
  background-color: #afabab;
  padding: 10px;
  margin-right: 0;
  border-radius: 5px;
  max-width: 800px;
  word-wrap: break-word;
  text-align: justify;
}

ul {
  list-style: none;
}

.admin{
  float: right;
  text-align: right;
  clear: both;
  margin: 10px;
}

.fecha-hora {
  font-size: 12px;
  color: #999;
}
