.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    margin-left: 5%;
}
.tareas {
    border: 2px solid black;
    margin: auto;
    border-radius: 15px;
    margin-top: 5%;
    background-color: bisque;
    box-shadow: 5px 5px black;
}

tr {
    border-color: black;
}

.modal-content {
    background-color: darkslategray;
    color: white;
}

.search-bar ::placeholder{
    color: black;
}