<div class="title">
    <h2>Bienvenido, Administrador.</h2>
</div>
<h1>ESTARÍA BIEN HACER UN FILTRADO</h1>
<div class="tareas col-8">
    <h2>LISTADO DE TAREAS & PROYECTOS ACTIVOS:</h2>
<button data-bs-toggle="modal" data-bs-target="#AddModal" class="col-12 btn btn-secondary"><i
                      class="fas fa-plus-circle"></i> AÑADIR UNA NUEVA TAREA <i
                      class="fas fa-plus-circle"></i></button>
<div class="bd-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de vencimiento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of tareas">
                <td>{{tarea.titulo_tarea}}</td>
                <td><span class="badge bg-secondary">{{tarea.estado}}</span></td>
                <td><span class="badge bg-gradient-indigo">{{tarea.fecha_vencim}}</span></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                    data-bs-target="#DetailsModal" (click)="verDetallesTarea(tarea.id)"><i class="fas fa-eye"></i></button>
                    <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                    data-bs-target="#EditModal" (click)="marcarParaEditar(tarea.id); fillEditForm(tarea)"><i
                      class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                    data-bs-target="#DeleteModal" (click)="marcarParaEliminar(tarea.id)"><i
                      class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</div>

<!-- Modal para añadir nueva tarea-->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Crear Nueva Tarea
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" class="form-horizontal">
                    <div class="container-fluid">
                        <label>Título de la tarea</label>
                        <div class="row">
                            <input type="text" id="title" class="form-control" formControlName="title" />
                        </div>
                        <label>Descripción de la tarea</label>
                        <div class="row">
                            <textarea id="description" class="form-control"
                                formControlName="description"></textarea>
                        </div>
                        <label>Fecha de vencimiento de la tarea</label>
                        <div class="row">
                            <input type="text" id="fecha_vencim" class="form-control" formControlName="fecha_vencim" />
                        </div>
                        <label>Selecciona a un empleado para agregarle la tarea</label>
                        <select class="form-control" id="id_empleado" formControlName="id_empleado">
                            <option *ngFor="let emp of empleados" [value]="emp.id">{{emp.nombre}} {{emp.apellido}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="addTarea()">
                    Crear
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar detalles de la tarea-->
<div class="modal fade" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ tarea?.titulo_tarea }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
             <h6>Descripción de la tarea:</h6>
            <p>{{ tarea.descripcion_tarea }}</p>
        </div>
        <div class="row">
             <h6>Estado actual de la tarea:</h6>
            <p>{{ tarea.estado }}</p>
        </div>
        <div class="row">
             <h6>Fecha en la que vence la tarea:</h6>
            <p>{{ tarea.fecha_vencim }}</p>
        </div>
        <div class="row">
             <h6>Empleado al que se le ha asignado la tarea: </h6>
            <p>{{ tarea.empleado_nombre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar tarea -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" class="form-horizontal">
                    <div class="container-fluid">
                        <label>Título de la tarea</label>
                        <div class="row">
                            <input type="text" id="editTitle" class="form-control" formControlName="title" />
                        </div>
                        <label>Descripción de la tarea</label>
                        <div class="row">
                            <textarea id="editDescription" class="form-control" formControlName="description"></textarea>
                        </div>
                        <label>Fecha de vencimiento de la tarea</label>
                        <div class="row">
                            <input type="text" id="editFecha_vencim" class="form-control" formControlName="fecha_vencim" />
                        </div>
                        <label>Selecciona un empleado para asignar la tarea</label>
                        <select class="form-control" id="editId_empleado" formControlName="id_empleado">
                            <option *ngFor="let emp of empleados" [value]="emp.id">{{emp.nombre}} {{emp.apellido}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success" (click)="editarTarea()">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para eliminar una tarea-->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Borrando tarea...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>¿Seguro que quieres eliminar ésta tarea?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="eliminarTarea()">Sí</button>
      </div>
    </div>
  </div>
</div>