button:disabled {
  background-color: gray;
  color: #ccc;
}

.mensaje {width: 100%;}

.btnchat{
border-radius: 100px;}

ul {
  list-style: none;
}

.contenido {
  background-color: #afabab;
  padding: 10px;
  margin-right: 0;
  border-radius: 5px;
  max-width: 800px;
  word-wrap: break-word;
  text-align: justify;
}

.me{
  float: right;
  text-align: right;
  clear: both;
  margin: 10px;
}

.notMe {
  float: left;
  text-align: left;
  clear: both;
  margin: 10px;
}

.fecha-hora {
  font-size: 12px;
  color: #999;
}

.users .card{
  background-color: lightskyblue;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}

.lower-part .card {
  background-color: lightsalmon;
  margin-left: 15%;
  border-radius: 15px;
  box-shadow: 7px 7px black;

}

.bg-dark{
    border-radius: 25px;
    font-size: smaller;
    font-weight: bolder;
    padding: 5px;
}