  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a href="#" class="navbar-brand">WorkSphere</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Registro</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/acerca']">Sobre nosotros</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/contacto']">Contacto</a></li>
        </ul>
        <a data-bs-toggle="modal" data-bs-target="#LoginModal" class="nav-link" [routerLink]="['/']">Iniciar sesión</a>
      </div>
  </nav>