<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link" style="color: white">
    <span class="brand-text font-weight-bold" style="margin-left: 20px"
      ><img src="../../../assets/logo_icon.png" style="height: 180px"
    /></span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            style="
              background-color: rgb(224, 130, 42);
              width: 200px;
              border-radius: 30px;
              padding: 10px;
              margin: 10px;
              text-align: center;
              height: 65px;
              color: white;
              font-weight: bolder;
            "
          >
            <div class="image" style="margin-right: 10px">
              <img
                src="{{ user.imgpath }}"
                class="img-circle elevation-2"
                alt="User Image"
                style="width: 45px; height: 45px"
              />
            </div>
            <p>{{ user.name }}</p>
          </a>
          <a
            [routerLink]="['/empleado/profile']"
            class="nav-link active"
            style="background-color: green"
          >
            <i class="nav-icon fas fa-user"></i>
            <p>Ver tu Perfil</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/empleado/tareas']"
            class="nav-link active"
            style="background-color: magenta"
          >
            <i class="nav-icon fas fa-paperclip"></i>
            <p>Tareas</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/empleado/amigos']"
            class="nav-link active bg-warning"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>Tus amigos</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            (click)="logout()"
            class="nav-link active"
            style="background-color: rgb(163, 15, 15)"
          >
            <i class="nav-icon fas fa-arrow-left"></i>
            <p>Cerrar sesión</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
