<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkSphere</title>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- CSS personalizado -->
</head>

<body>

    <!-- Contenido principal -->
    <main>
        <section class="jumbotron text-center"
            style="background-image: url('../../assets/background2.jpg'); background-size: cover; background-position: center; color: white; text-shadow: 2px 2px 4px #000000;">
            <div class="container">
                <img src="../../../assets/logo.png">
                <p>
                    <a class="btn btn-primary my-2" style="margin: 20px" data-bs-toggle="modal"
                        data-bs-target="#RegisterModal">Regístrate</a>
                    <a class="btn btn-secondary my-2" style="margin: 20px; color: blue;" data-bs-toggle="modal"
                        data-bs-target="#LoginModal" class="nav-link" [routerLink]="['/']"><button
                            class="btn btn-secondary my-2">Inicia sesión</button></a>
                </p>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="my-4" style="font-style: italic;">¿Por qué elegir WorkSphere?</h2>
                    <p>Aquí te ofrecemos algunas razones para usar nuestra aplicación.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 20px;">
                <div class="col-md-4" style="background-color: darkgrey; border-radius: 20px; margin: 20px;">
                    <h2>Comunicación efectiva entre empleados</h2>
                    <p>WorkSphere facilita la comunicación entre los empleados y ésto puede mejorar la colaboración y la
                        productividad en la empresa. Los empleados pueden hacerse amigos en la plataforma y pueden
                        utilizar el chat integrado para mantenerse en contacto, compartir ideas y resolver problemas
                        juntos.</p>
                </div>
                <div class="col-md-4" style="background-color: burlywood; border-radius: 20px; margin: 20px;">
                    <h2>Interfaz de usuario intuitiva y fácil de usar</h2>
                    <p>WorkSphere es fácil de usar y cómo su interfaz de usuario intuitiva puede ayudar a los usuarios a
                        navegar por la aplicación sin problemas.</p>
                </div>
                <div class="col-md-4" style="background-color: greenyellow; border-radius: 20px; margin: 20px;">
                    <h2>Seguridad y privacidad</h2>
                    <p>En WorkSphere, la privacidad y la seguridad de los datos de los usuarios es la prioridad. Todo lo
                        que realices en la plataforma será seguro y privado, siempre.</p>
                </div>
                <div class="col-md-4" style="background-color: rosybrown; border-radius: 20px; margin: 20px;">
                    <h2>Soporte técnico</h2>
                    <p>En WorkSphere, ofrecemos soporte técnico para ayudar a los usuarios en caso de problemas
                        técnicos. Contamos con un canal de soporte en vivo, en nuestras redes sociales, para que los
                        usuarios puedan obtener ayuda cuando la necesiten.</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="container" style="background-color: coral; border-radius: 20px;">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="my-4" style="font-style: italic;">Acerca de nosotros.</h2>
                    <p>Somos una web centrada en ofrecer el mejor servicio para tu empresa.
                        <br>
                        Te ayudamos a organizar tu empresa para que puedas centrarte en realizar tu trabajo.
                        <br>
                        Contamos con servicio de gestión de empleados, departamentos, así cómo la asignación de tareas a
                        éstos.
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="container" style="background-color:khaki; border-radius: 20px; margin-top: 20px;">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="my-4" style="font-style: italic;">Contacto</h2>
                    <h4>Si tienes alguna duda no dudes en ponerte en contacto mediante cualquiera de éstos canales.</h4>
                    <h4>Teléfono: 999 888 777</h4>
                    <h4>Email: contacto@worksphere.com</h4>
                    <br>
                    <h5>Síguenos en redes sociales:</h5>
                    <h5>Twitter: @worksphere</h5>
                    <h5>Instagram: @worksphere_web</h5>
                    <h5>Facebook: WorkSphereWeb</h5>
                </div>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <footer class="text-muted">
        <div class="container">
            <p>Copyright
                &copy; 2023 - WorkSphere. Desarrollado por: Raúl Paciencia Guerrero</p>
        </div>
    </footer>

    <!-- JS de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>