<form [formGroup]="registerForm" class="form-horizontal">
  <div class="form-group">
    <label class="form-label required" for="name">Introduce tu Nombre</label>
    <span class="required-indicator" style="color: red">*</span>
    <input
      type="name"
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Tu Nombre"
    />
    <div
      *ngIf="
        registerForm.get('name').invalid &&
        (registerForm.get('name').dirty || registerForm.get('name').touched)
      "
    >
      <div *ngIf="registerForm.get('name').errors['required']">
        El nombre es requerido.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Introduce tus Apellidos</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="name"
      class="form-control"
      id="apellido"
      formControlName="apellido"
      placeholder="Tus Apellidos"
    />
    <div
      *ngIf="
        registerForm.get('apellido').invalid &&
        (registerForm.get('apellido').dirty ||
          registerForm.get('apellido').touched)
      "
    >
      <div *ngIf="registerForm.get('apellido').errors['required']">
        Los apellidos son requeridos.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Introduce tu Email</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="example@example.com"
      formControlName="email"
    />
    <div
      *ngIf="
        registerForm.get('email').invalid &&
        (registerForm.get('email').dirty || registerForm.get('email').touched)
      "
    >
      <div *ngIf="registerForm.get('email').errors['required']">
        El email es requerido.
      </div>
      <div *ngIf="registerForm.get('email').errors['email']">
        El email no es válido.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="pass">Introduce una Contraseña</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="password"
      class="form-control"
      id="pass"
      placeholder="Crea una Contraseña"
      formControlName="pass"
    />
    <div
      *ngIf="
        registerForm.get('pass').invalid &&
        (registerForm.get('pass').dirty || registerForm.get('pass').touched)
      "
    >
      <div *ngIf="registerForm.get('pass').errors['required']">
        La contraseña es requerida.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="rpass">Repite la Contraseña</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="password"
      class="form-control"
      id="rpass"
      placeholder="Repite la Contraseña"
      formControlName="rpass"
    />
    <div
      *ngIf="
        registerForm.get('rpass').invalid &&
        (registerForm.get('rpass').dirty || registerForm.get('rpass').touched)
      "
    >
      <div *ngIf="registerForm.get('rpass').errors['required']">
        Debes repetir la contraseña.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Introduce tu Teléfono</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="name"
      class="form-control"
      id="telefono"
      formControlName="telefono"
      placeholder="Tu Número de Teléfono"
    />
    <div
      *ngIf="
        registerForm.get('telefono').invalid &&
        (registerForm.get('telefono').dirty ||
          registerForm.get('telefono').touched)
      "
    >
      <div *ngIf="registerForm.get('telefono').errors['required']">
        El teléfono es requerido.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Introduce tu Fecha de Nacimiento</label>
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="date"
      class="form-control"
      id="fecha_nacim"
      formControlName="fecha_nacim"
    />
    <div
      *ngIf="
        registerForm.get('fecha_nacim').invalid &&
        (registerForm.get('fecha_nacim').dirty ||
          registerForm.get('fecha_nacim').touched)
      "
    >
      <div *ngIf="registerForm.get('fecha_nacim').errors['required']">
        La fecha de nacimiento es requerida.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name"
      >Introduce la Fecha en la que te incorporaste a la Empresa</label
    >
    <span class="required-indicator" style="color: red">*</span>

    <input
      type="date"
      class="form-control"
      id="fecha_incorp"
      formControlName="fecha_incorp"
    />
    <div
      *ngIf="
        registerForm.get('fecha_incorp').invalid &&
        (registerForm.get('fecha_incorp').dirty ||
          registerForm.get('fecha_incorp').touched)
      "
    >
      <div *ngIf="registerForm.get('fecha_incorp').errors['required']">
        La fecha de incorporación es requerida.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Selecciona el Departamento del que formas parte</label>
    <span class="required-indicator" style="color: red">*</span>

    <select
      class="form-control"
      id="id_departamento"
      formControlName="id_departamento"
    >
      <option value="1">Recursos Humanos</option>
      <option value="2">Finanzas</option>
      <option value="3">Marketing</option>
      <option value="4">Operaciones</option>
      <option value="5">Informática</option>
      <option value="6">Ventas</option>
      <option value="7">Legal</option>
    </select>
    <div
      *ngIf="
        registerForm.get('id_departamento').invalid &&
        (registerForm.get('id_departamento').dirty ||
          registerForm.get('id_departamento').touched)
      "
    >
      <div *ngIf="registerForm.get('id_departamento').errors['required']">
        Debes seleccionar un departamento.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Selecciona una Imagen para tu Perfil</label>
    <span class="required-indicator" style="color: red">*</span>

    <div class="row">
      <div class="col-md-3">
        <img
          class="img-thumbnail"
          id="AddUserImage"
          style="width: 100px; height: 100px"
          src="../../../favicon.ico"
        />
      </div>
      <div class="col-md-9">
        <input
          id="image"
          type="file"
          style="margin-left: 10px"
          (change)="onSelectImage($event)"
          accept="image/*"
          placeholder="Seleccione una imagen"
        />
      </div>
    </div>
    <div
      *ngIf="
        registerForm.get('image').invalid &&
        (registerForm.get('image').dirty || registerForm.get('image').touched)
      "
    >
      <div *ngIf="registerForm.get('image').errors['required']">
        Debes escoger una imagen.
      </div>
    </div>
  </div>
</form>
<hr />
<button type="submit" class="btn btn-primary" (click)="registrar()">
  Registrarme
</button>
