<div style="padding: 2%; display: flex; justify-content: center;">
  <div class="col-md-9">
    <div class="card card-primary card-outline" style="width: 400px; border-radius: 15px; box-shadow: 9px 9px 4px black;">
      <div class="card-header">
        <h3 class="card-title">DEPARTAMENTOS DE LA EMPRESA</h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of departamentos">
                <td>{{ d.nombre_departamento }}</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                    data-bs-target="#DetailsModal" (click)="mostrar(d.id)">Consultar departamento</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer p-0">
        <div class="mailbox-controls">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar detalles del departamento-->
<div class="modal fade" id="DetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkslateblue; color: white;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ departamento?.nombre_departamento }}
        </h1>
        <h2 class="modal-title fs-5" id="exampleModalLabel">
          {{ departamento.descripcion_departamento }}
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  <p>{{ departamento.descripcion }}</p>
  <div style="background-color: grey; padding: 10px; border-radius: 15px;">
    <h6>Miembros del departamento:</h6>
  <ul *ngIf="empleadosDelDepartamento && empleadosDelDepartamento.length > 0" style="list-style: none;">
    <li *ngFor="let empleado of empleadosDelDepartamento">{{ empleado.nombre }} {{ empleado.apellido }}</li>
  </ul>
  <p *ngIf="!empleadosDelDepartamento || empleadosDelDepartamento.length === 0">No hay empleados en este departamento actualmente.</p>
  </div>
</div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>